<html ng-app='friendsList'>
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>





<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-controller='FriendController'>

<h1>The <strong>facebook</strong> Friend Machine</h1>

  <ul>
      <li ng-repeat='friend in friends'>
          <img src={{friend.pic_square}}></img><div class='location'><div class='friendName'>{{friend.name}}</div>
    location: {{friend.current_location.city}}, {{friend.current_location.state}}, {{friend.current_location.country}};
    </div>
    <div class="status">
        Status: <span class="hashtag">{{friend.status.message}}</span>
      </div>   
    <div>
    Friend Count: {{friend.friend_count}}
    </div>
      </li>
</ul>
<input type="text" ng-model='searchTerm.name'>
<div ng-repeat="friend in friends | filter:searchTerm.name">
    Name:{{friend.name}}
  </div>
<input type="text" ng-model='searchTerm.current_location'>
<div ng-repeat="friend in friends | filter:searchTerm.current_location">
    City:{{friend.current_location.city}}
  </div>

   <input class="form-control" ng-model='searchTermName' placeholder="Search Your Friends' Name" >
    <input class="form-control" ng-model='searchTermPlace'  placeholder="Search Your Freinds' Location" > 
    <select class="input-medium" ng-model='sorter'>
        <option value="name">Name</option>
        <option value="friend_count"># friends</option>
        <option value="current_location.city">City</option>
        <option value="current_location.state">State</option>
        <option value="current_location.country">Country</option>
    </select>
    
 <ul>
    <li class='friend' ng-repeat='friend in friends | orderBy: sorter: ascending | filter:{name: searchTermName, current_location: searchTermPlace}'>
       <img src={{friend.pic_square}}></img>    
        <h2>{{friend.name}}</h2>
      <h3>{{friend.current_location.country}}</h3>
      <div class="location">
        Location: {{friend.current_location.city}} {{friend.current_location.city}} {{friend.current_location.country}}
      </div>      
      <div class="status">
          Status: {{friend.status}}
      <!-- <span class="hashtag">#ihateprovo</span>b -->
      </div>      
      <div class="num-friends">
         Friend Count: {{friend.friend_count}}
      </div>
    </li>
  </ul>
</div>


<select class="input-medium" ng-model='ascending'>
        <option value="false">Descending</option>
        <option value="true">Ascending</option>
    </select>
  </div>
</form>

</div>




<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>
</body>
</html>